.list-space {
    margin-bottom: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.747)), url('https://assets.eldesconcierto.cl/2020/07/A_UNO_1193422-1024x566.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 5px;
    color: white;
    padding: 20px;
    text-align: center;
}

.list-space a {
    color: white;
}

.ver-mi-tienda {
    display: block;
    margin: 0 auto;
    width: max-content;
    margin-top: 50px;
    margin-bottom: 50px;
}