.products {}

.products.is-gapless>.column {
    height: min-content;
    padding: 2vw !important;
}

.product-on {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 9px -6px black;
}

.products .column div:first-child {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.products .column div:hover {
    opacity: 1;
}

.product-img {
    height: 100%;
    width: 100%;
    transition: height 0.2s;
    position: relative;
}

.products .column div:first-child div img {
    object-fit: contain;
    object-position: center center;
    height: 100% !important;
    width: 100% !important;
}

.product-add div {
    height: 117px !important;
    cursor: pointer;
    transition: background-color 1s;
    user-select: none;
    border: 1px dashed rgb(61, 61, 61) !important;
}

.product-add div:hover {
    transition: background-color 1s;
    background-color: rgba(33, 117, 156, 0.486);
    color: white;
}

.product-on .btn-square {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    padding: 0;
    padding-top: 3px;
}

#productInfo {
    text-align: left;
    padding: 1vw;
}

.btn-ver {
    padding: 1px 0px;
    bottom: 0;
    position: absolute;
    background-color: white;
    color: black;
    width: 50%;
    text-align: center;
    border: 1px solid rgb(75, 75, 75);
}

.button {
    width: 50%;
    height: auto;
}

.slick-track>div {
    background-color: rgba(13, 20, 102, 0.514);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    height: 200px;
    position: relative;
    border-radius: 7px;
}

.pedidoID {
    display: none;
    background-color: rgb(152, 214, 134);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 4px;
    overflow: auto;
    font-size: 12px;
    z-index: 9999;
}

.pedidoID .table {
    width: 100%;
}

.close_pedido {
    background-color: rgb(109, 179, 89);
    padding: 2px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

.close_pedido:hover {
    background-color: black;
    color: white;
}

.btn-pedido {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px;
    display: inline-flex;
}

.btn-estado {
    padding: 2px 10px;
    border: none;
    outline: none;
    font-weight: bolder;
    background-color: rgb(14, 108, 124);
    color: white;
}

.btn-estado:hover {
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 0, 0);
}